body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.wrap {
    min-height: 100vh;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.container{
  background-color: rgba(255,255,255,0.3);
}
.navbar-right {
  margin-right: 10px;
}

.collapse, .navbar-collapse {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar > .container {
  box-sizing: border-box;
  width: 100%;
}

.navbar-invers {
  background-color: #000;
}

.footer {
  margin-top: 50px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;  
  padding: 10px; 
  vertical-align: middle; 
}
.footer .pull-left, .footer .pull-right {
  margin-bottom: 0;
}


.right-float {
  float: right;
}

.filling {
  min-height: 100vh;
  box-shadow:0px 0px 20px 2px rgba(255, 0, 0,0.5) ;
  margin-top: 15px;
}

.logo-img {
  width: 100%;
}